<h1>Form</h1>
<form action="/sgx/form" method='post'>
    <label for="name">Name on Card</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="card_num">Card Number</label><br>
    <input type="text" id="card_num" name="card_num"><br>

    <label for="month">MM</label><br>
    <input type="text" id="month" name="month" ><br>
    <label for="year">YY</label><br>
    <input type="text" id="year" name="year"><br>
    <label for="cvc">CVC Code</label><br>
    <input type="text" id="cvc" name="cvc" ><br>
    <input type="submit" value="Submit">
  </form>